main{
    padding: 15px;

    &>h1{
        margin-top: 15px;
        text-align: center;
    }

    .searchForTitle{
        text-align: center;
        margin-bottom: 50px;

        div{
            margin: 12px 0px;
        }

       

        p{
            font-size: 2rem;
        }
    }
}
.cards{
    min-width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
