<main>
    <section class="searchForTitle">
        <div>
            <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title here...">
            <button (click)="searchByTitle()">Search</button>
        </div>

        <div *ngIf="titleFound !== null">
            <p [style.color]="titleFound ? 'green' : 'crimson'">
                {{titleFound ? 'Car Found' : 'Car not found'}}
            </p>
        </div>
    </section>


    <h1>Cars with no type</h1>
    <section class="cards">
        <div *ngFor="let content of contents | contentType" appHoverAffect="border">
            <app-content-card [car]="content" [class]="'noContentType'"></app-content-card>
        </div>
    </section>
    
    
    <h1>Super Sport Cars</h1>
    <section class="cards">
        <div *ngFor="let content of contents | contentType:'Super Sport'" appHoverAffect="border">
            <app-content-card [car]="content" [class]="'superSport'"></app-content-card>
        </div>
    </section>


</main>
